%section#main{style: "background-image: url(#{asset_url(Setting.cover_image.url)});"}
	.cover
		%h1.cover-title BODY APP
		%h3.cover-subtitle Reimagine home workouts. Be the first to know. Register here to win exclusive rewards.
		#form-wrapper
			= render "form"
			%small * Add your email here to inside the VIP section... No spam, we promise.
